.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000 !important;
  position: relative;

  &-themes {
    display: flex;
    position: absolute;
    left: 2%;
    top: -2%;

    div {
      margin-right: 1rem;
      width: 2.5rem;
      height: 2.5rem;
      border: .3rem solid white;
      border-radius: 50%;
      box-shadow: .2rem .2rem .2rem .2rem rgba(0, 0, 0, 0.2);
      transition: all .3s;

      &:hover {
        width: 2.6rem;
        height: 2.6rem;
        cursor: pointer;
      }
    }
    
  }

  &-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0.3rem 0.5rem 0.3rem 0.3rem rgba(0, 0, 0, 0.2);

    svg {
      width: 2.5rem;
      height: 2.5rem;
      fill: $color-scheme-2;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &-bar {
    margin: 3rem 0;
    width: 100%;
    background-color: white;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    box-shadow: 0.3rem 0.5rem 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
    position: relative;

    input {
      flex: 1;
      font-size: 1.4rem;
      padding: 0 2rem;
      height: 5rem;
      border-radius: 3rem;
      background-color: transparent;
      border: none;
      outline: none;
    }

    &-svg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5rem;
      height: 5rem;
      border-top-right-radius: 3rem;
      border-bottom-right-radius: 3rem;

      svg {
        width: 3rem;
        height: 3rem;
        fill: $color-scheme-2;

        &:hover {
          cursor: pointer;
        }

        &:active {
          transform: translateY(-0.2rem);
        }
      }
    }

    &-dropdown {
      position: absolute;
      top: 105%;
      width: 100%;
      height: auto;
      border-radius: .5rem;
      background-color: white;
      box-shadow: .2rem .2rem 1rem .2rem rgba(0,0,0, .2);

      &-item {
        display: flex;
        align-items: center;
        padding: .5rem 1rem;
        font-size: 1.2rem;
        font-weight: 700;
        border-bottom: .1rem dashed $color-scheme-2;
        text-transform: uppercase;
        transition: all .5s;

        svg {
          width: 1.5rem;
          height: 1.5rem;
          margin-left: 1rem;
          fill: $color-scheme-5;
        }

        &:hover {
          background-color: $color-scheme-1;
          cursor: pointer;
          color: white;
        }
      }
      
    }
  }
}
